<div class="col-xs-12 comment-indent">
    <p class="text-right">{{this.author.username}}</p>
    <p>{{this.content}}</p>
    <a href="/posts/{{postId}}/comments/{{this._id}}/replies/new">Reply</a>
    {{#each this.comments}}
        {{> comment comment=this postId=../postId}}
    {{/each}}
</div>