<nav>
    <ul>
        <li><img class="logo" src="assets/logo.svg"></li>
        <li><a href='/'>Home</a></li>
        <li><a href=''>Notifications</a></li>
        <li><a href='/post-new'>New Post</a></li>
        <li><a href=''>Messages</a></li>
        <li><form action="submit"><input type="search"placeholder="Search"></form></li>
                <img class="avatar" src='/assets/blankUser.png'>
    </ul>
</nav>
