<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css" type="text/css" />
  <title>Reddit</title>
</head>
<body>
    {{>nav}}
<div class="container">
  {{{body}}}
</div>

</body>
</html>
