body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 18px;
    overflow: hidden;
}

/*navbar styling*/
nav {
    grid-area: n;
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3399ff;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 18px 15px;
}

li > h1 {
    color: white;
    letter-spacing: 1px;
}


li > form > input {
    width: 175px;
    height: 25px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
}

li > .avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 3px 0 0 0;
    padding: 0;
}

li img:hover {
    cursor: pointer;
}

li div:hover {
    cursor: pointer;
}

li a:hover {
    cursor: pointer;
}

 li .userActions:hover {
    background-color: #3399ff;
}